<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.joinblog.mapper.comment.CommentMapper">
    <resultMap id="comment" type="com.join.joinblog.entity.comment.Comment">
        <id property="id" column="id"/>
        <result property="blogid" column="blogid"/>
        <result property="comments" column="comments"/>
        <result property="praise" column="praise"/>
        <result property="commentid" column="commentid"/>
    </resultMap>
    <!--  评论博客  -->
    <insert id="addCommentWithBlog">
        INSERT INTO t_comment
        (userid,blogid,comments,username,bereplyeduser)
        VALUES (#{comment.userid},#{comment.blogid}, #{comment.comments},#{comment.username},#{comment.bereplyeduser})
    </insert>

    <!--  回复评论  -->
    <insert id="addCommentWithComment">
        INSERT INTO t_comment
        (userid,comments,username,commentid,bereplyeduser)
        VALUES ( #{comment.userid},#{comment.comments},#{comment.username},#{comment.commentid},#{comment.bereplyeduser})
    </insert>


    <!--  删除  -->
    <delete id="deleteComment" parameterType="int">
        DELETE FROM t_comment WHERE id=#{id}
    </delete>

    <!--  根据关键字模糊查询  -->
    <select id="query" parameterType="String" resultMap="comment">
        SELECT * FROM t_comment WHERE comments LIKE "%"#{comments}"%"
    </select>

    <!--  全部列出  -->
    <select id="listComment" resultType="comment">
        SELECT *
        FROM t_comment
    </select>

    <!--  更新点赞数  -->
    <update id="praiseComment">
      update t_comment set praise = #{praise} where id = #{id}
    </update>

    <!--  根据博客id搜索其评论  -->
    <select id="queryByBlogid" resultType="comment">
      SELECT * FROM t_comment WHERE blogid = #{blogid}
    </select>

    <!--  根据评论id搜索其评论  -->
    <select id="queryByCommentid" resultType="comment">
      SELECT * FROM t_comment WHERE commentid = #{commentid}
    </select>

</mapper>
