<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.joinblog.mapper.invitecode.InviteCodeMapper">
    <resultMap id="InviteCodeResultMap" type="com.join.joinblog.entity.invitecode.InviteCode">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
    </resultMap>

    <insert id="addCode">
        insert into t_invitecode (code) values (#{code});
    </insert>

    <select id="getCodes" resultType="com.join.joinblog.entity.invitecode.InviteCode">
        select * from t_invitecode;
    </select>

    <delete id="deleteCode">
        delete from t_invitecode where id=#{id};
    </delete>
</mapper>