<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.join.joinblog.mapper.bookmarks.BookmarksMapper">
    <resultMap id="bookmarks" type="com.join.joinblog.entity.bookmarks.Bookmarks">
        <id property="id" column="id"/>
        <result property="bookmarksName" column="bookmarksName"/>
        <result property="blogId" column="blogId"/>
    </resultMap>

    <insert id="addBookmarks">
      INSERT INTO t_bookmarks
      (bookmarksName,description,userId)
      values (#{bookmarks.bookmarksName},#{bookmarks.description},#{bookmarks.userId})
    </insert>

    <delete id="delBookmarks">
      DELETE FROM t_bookmarks where id = #{id}
    </delete>

    <delete id="delBookmarksByName">
      DELETE FROM t_bookmarks where bookmarksName = #{bookmarksName}
    </delete>

    <select id="listAll" resultType="bookmarks">
      SELECT * FROM t_bookmarks
    </select>

    <select id="queryBookmarks" resultType="bookmarks">
      SELECT * FROM t_bookmarks where bookmarksName like "%"#{bookmarksName}"%"
    </select>

    <select id="queryBlogId" resultType="bookmarks">
      SELECT * FROM t_bookmarks where bookmarksName = #{bookmarksName}
    </select>

    <update id="updateBookmarks">
      update t_bookmarks set bookmarksName = #{bookmarksName} where id = #{id}
    </update>

    <insert id="addBlogId">
      update t_bookmarks set blogId = #{blogId} where bookmarksName = #{bookmarksName}
    </insert>

    <select id="listByName" resultType="bookmarks">
      SELECT DISTINCT bookmarksName FROM t_bookmarks WHERE userId=#{userId}
    </select>

    <insert id="addBlog">
     INSERT INTO t_bookmarks
     (blogId,bookmarksName,blogName,userId) values (#{blogId},#{bookmarksName},#{blogName},#{userId})
    </insert>

    <delete id="delAllBlog">
        DELETE from t_bookmarks where bookmarksName = #{bookmarksName} AND blogId is not null
    </delete>

    <select id="listBlogName" resultType="com.join.joinblog.entity.blog.Blog">
        SELECT title FROM t_artical WHERE id=any (SELECT blogId FROM t_bookmarks WHERE bookmarksName=#{bookmarksName})
   </select>

    <select id="isDo" resultType="com.join.joinblog.entity.bookmarks.Bookmarks">
      SELECT * from t_bookmarks where blogId=#{blogId} and userId=#{userId}
    </select>

    <delete id="cancel">
        DELETE from t_bookmarks where blogId=#{blogId} AND userId=#{userId}
    </delete>


</mapper>